@media screen and (min-width: 481px) and (max-width: 768px){
	#wrap{width:100%; background-color: #acf;}
	#addBanner{height:58.59357vw;/*450/768*100*/ min-height: 400px;}
	#infoBox{height: 27.34375vw; /*210/768*100*/ min-height: 150px; }
    #contentBox{height:70.3125; /* 540/768*100*/ min-height: 450px; max-height: 540px;}
    #footBox{height: 120px; min-height: 40px;}
}		